span.line {
  display: inline-block;
}
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

div.image-div img {
    float: left;
}

p {
    color: black;
    font: Helvetica;
    float: left;
}

.image-div {
    width: 700px;
    height: 300px;
}

.sideText {
    margin-left: 300px;
    margin-bottom: 0.5em;
    text-align: left;
}
.sideText p {
    margin-top: 0.em;
    font-size: 1.1em;
    text-align: left;
}
